@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0D0D0D;
}

/* #region Regular Fuentes */
@font-face {
    font-family: "Inter";
    src: local("Inter-VariableFont_opsz,wght"),
        url(./assets/Fuentes/Inter/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

/* #endregion */

/* #region Italic Fuentes */
@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(.\assets\Fuentes\Poppins\Poppins-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

/* #endregion */

/* #region Scrollbar styles */
@layer base {
    body::-webkit-scrollbar {
        width: 0.5vw;
    }

    body::-webkit-scrollbar-track {
        background: #000000;
    }

    body::-webkit-scrollbar-thumb {
        background: #383838;
        border-radius: 0.1vw;
    }

    body::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    canvas {
        user-select: none;
        /* Desactiva la selección de texto */
    }
}

/* #endregion */


